.Board {
    background-color: white;
    display: flex;
    height: 100%;
    overflow: scroll;
    margin-left: 200px;
    margin-top: 80px;
}

.column {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px;
    margin: 10px;
    background-color: #FAF5FF;
}

/* On mouse-over, add a deeper shadow */
.column:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    width: 200px;
}

.new-column-button {
    transition: 0.3s;
    font-size: 2em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 10px;
    margin: 10px;
    border-width: 0;
    background-color: #FAF5FF;
}

.new-column-button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
