.SignUp {
    width: 100%;
    height: 100%;
    background-color: #F8F3FF;
    font-family: 'Verdana', 'sans-serif';
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.signup-title {
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    color: #343A40;
    font-family: 'Verdana', 'sans-serif';
    margin-bottom: 80px;
}

.username-box {
    box-sizing: border-box;
    width: 100%;
    height: 66px;
    background: #FFFFFF;
    border: 2px solid #E4E4E4;
    border-radius: 2px;
    padding-left: 15px;
    margin: 10px 0 10px 0;
    color: #9A9A9A;
    font-family: 'Verdana', 'sans-serif';
}

.password-box {
    box-sizing: border-box;
    width: 100%;
    height: 66px;
    background: #FFFFFF;
    border: 2px solid #E4E4E4;
    border-radius: 2px;
    padding-left: 15px;
    margin: 10px 0 10px 0;
    color: #E4E4E4;
    font-family: 'Verdana', 'sans-serif';
}

.signup-button {
    width: 100%;
    height: 66px;
    background: linear-gradient(180deg, #8221FE 0%, #4E00B1 100%);
    box-shadow: 0 4px 4px rgba(89, 7, 193, 0.28);
    border-radius: 2px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 17px;
    margin: 10px 0 10px 0;
    color: #FFFFFF;
    font-family: 'Verdana', 'sans-serif';
}

.signup-button:hover {
    cursor: pointer;
    background: linear-gradient(180deg, #8221FE 0%, #6626b6 100%);
}

.separator {
    margin-top: 50px;
    width: 100%;
    border-bottom: 2px solid #EBEBEB;
    height: 10px;
}

.separator-text {
    font-family: 'Verdana', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #97999C;
    background-color: #F3F5F6;
    padding: 0 20px;
}

.auth-icons {
    margin-top: 40px;
}

.icon {
    padding: 10px;
}

.login {
    margin-left: 10px;
    cursor: pointer;
    color: #8221FE;
}
