.Sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.Sidebar a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.Sidebar a:hover {
    color: #f1f1f1;
}
