.Topbar {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FAF5FF;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Topbar a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #5F5C5C;
}

.Topbar a:hover {
    color: #f1f1f1;
}

.icon {
    cursor: pointer;
    width: 45px;
    border-radius: 20px;
    float: left;
}

.logout {
    font-size: .8em;
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
    letter-spacing: 3px;
    color: red;
    opacity: 0;
    transition: opacity 0.50s;
    -webkit-transition: opacity 0.50s;
    cursor: pointer;
}

.logout-button {
    display: flex;
    align-items: center;
    width: 50px;
    color: red;
    background-color: #FAF5FF;
    transition: width .35s;
    -webkit-transition: width .35s;
    overflow: hidden;
    cursor: pointer;
}

.logout-button:hover {
    width: 200px;
    display: flex;
}

.logout-button:hover .logout{
    opacity: 1;
    color: red;
}

.modal {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

