.subfolders {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.subfolders li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subfolders a {
    font-size: 1.2em;
    cursor: pointer;
    width: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.new-board-button {
    display: flex;
    margin: 0 auto 0 auto;
}

.selected-board {
    background-color: white;
    border-radius: 10px;
}
